/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  display: inline-block;
  color: black;
}

.button a{
  background-color:#0061FF ;
  color:#ffff;
  padding: 5px 10px;
}

.text{
  width: 30%;
  font-weight:500;
  font-size: medium;
}

/*NAVBAR*/
nav{
  display: flex;
  width: 100%;
  position: relative;
  padding: 15px;
  background-color: #ffff;
}
nav ul{
  display: flex;
}

nav ul li{
  margin: 5px 30px;
}

nav ul li a{
  color: black;
}

nav .nav.right{
  position: absolute;
  right: 0;
}

nav .button{
  margin:0 30px;
}

/*HEADER*/
header{
position:fixed;
left:0;
right:0;
z-index: 999;
}

/*MAIN*/


/*JUMBOTRON*/
main .jumbotron{
  background-color: #B4D0E7;
  margin: 0 auto;
  height: 50%;
  padding: 110px;
  position: relative;
}

main .jumbotron h1{
  font-weight: 600;
  font-size: 70px;
}

main .jumbotron p{
  margin-top: 95px;
  margin-bottom: 30px;
}


main .jumbotron .cta.header div:nth-child(2){
font-size: 500;
margin-top:20px;
margin-bottom: 50px;
}

main .jumbotron .cta.header div:last-child{
  font-size: 50px;
}

main .jumbotron .img{
  width: 60%;
  position: absolute;
  top: 400px;
  left:500px
}

/*CONTAINER CENTER*/
main ul{
  display: flex;
}

main ul li{
  margin: 0 5px;
}

main .center{
  background-color: bisque;
  margin: 200px  auto;
  width: 70%;
}

/*PLAN*/
main .plan-top{
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  width: calc(90% / 3);
}

main .plan-type{
  border: 1px solid gray;
  text-align: center;
}

main .plan{
  border: 1px solid gray;
}

main .plan h3{
margin-top: 25px;
margin-bottom: 10px;
}

main .plan h4 + span{ 
  margin-top: 10px;
  color: grey;
}

main .plan .condition{
  font-size: medium;
  margin: 40px 0;
}

main .cta-plan .buy{
  color:#0061FF;
  text-decoration: underline;
  
}