/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  display: inline-block;
  color: black;
}

.button a{
  background-color:#0061FF ;
  color:#ffff;
  padding: 5px 10px;
}

.white-button a{
  background-color: #ffff;
  border: 2px solid black;
  padding: 5px 10px;
  margin: 20px 0;
  font-weight: 500;
}

.text{
  width: 30%;
  font-weight:500;
}

/*NAVBAR*/
nav{
  display: flex;
  width: 100%;
  position: relative;
  padding: 15px;
  background-color: #ffff;
}
nav ul{
  display: flex;
}

nav ul li{
  margin: 5px 30px;
}

nav ul li a{
  color: black;
}

nav .nav.right{
  position: absolute;
  right: 0;
}

nav .button{
  margin:0 30px;
}

/*HEADER*/
header{
  position:fixed;
  left:0;
  right:0;
  z-index: 999;
}

/*MAIN*/
main h3{
margin-top: 25px;
margin-bottom: 10px;
}

/*JUMBOTRON*/
main .jumbotron{
  background-color: #B4D0E7;
  margin: 0 auto;
  height: 50%;
  padding: 110px;
  position: relative;
}

main .jumbotron h1{
  font-weight: 600;
  font-size: 70px;
}

main .jumbotron p{
  margin-top: 100px;
  margin-bottom: 30px;
}

main .jumbotron .cta.header div:nth-child(2){
font-size: 500;
margin-top:20px;
margin-bottom: 50px;
}

main .jumbotron .cta.header div:last-child{
  font-size: 50px;
}

main .jumbotron .img{
  width: 60%;
  position: absolute;
  top: 400px;
  right:80px
}

/*CONTAINER CENTER*/
main ul{
  display: flex;
}

main ul li{
  margin: 0 5px;
}

main .container-center{
  margin: 50px auto;
  width: 60%;
}

/*DROPBOX PLAN*/
main .dropbox-plan h1{
  font-size: xx-large;
  margin-top: 200px;
  
}

main .dropbox-plan ul li a{
  font-weight: 500;
  margin-top: 50px;
}

main .dropbox-plan .monthly-billing i{
  color: #0061ff;
}

/*PLAN TOP*/
main .plan-column{
  margin-top: 30px;
  background-color: #red;
  
}

main .plan-top{
  display: flex;
  height:100% ;
}

main .plan{
  width: 30%;
  display: flex;
  width: calc(100% / 3);
  margin-right: 30px;
}

main .plan.right{
  margin-right: 0;
}

main .container-plan{
  background-color: #ffff;
  border: 1px solid gray;
}

main .plan-type{
  border-bottom:1px solid gray;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}

main .plans{
  margin: 0 30px;
}


main .plans h3 + span{ 
  margin-top: 10px;
  color: grey;
}

main .plans .condition{
  margin: 50px 0;
}

main .cta-plan div:last-child{
  margin-top: 30px;
}

main .action{
  color:#0061FF;
  text-decoration: underline; 
}

main hr{
  margin: 30px 0;
  width: 50px;
}

/*PLAN HIGHLIGHTS*/

main .plans .highlights{
  margin: 20px 0;
}

main .plans .highlights ul{
  display: block;
}

main .plans .highlights ul li{
  margin: 20px 0;
}

main .plans .highlights ul li i{
  color: #0061FF;
}

/*PLAN BOTTOM*/
main .plan-bottom{
  margin-top: 50px;
}


main .plan-bottom p{
  margin:20px 0;
}

main .plan-bottom .team-text{
  margin-left: 20px;
  position: relative;
}

  main .row-title {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

main .plan-bottom .button a{
  padding: 5px 50px;
}

/*DROPBOX PATNER*/

main .dropbox-patner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 100px 0;
}
main .container-img{
  width: 50%;
}

main .container-text{
  width: 50%;
}

main .patner-text{
  margin: 80px 52px;
}

main .patner-text p{
  margin-top: 20px;
}

/*DROPBOX MORE OPERATION*/
main .container-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

main .more-operation{
  width: calc(90% / 3);
  margin:50px 0;
}

main .more-operation span{
  text-decoration: underline;
}

main .more-operation h2{
  margin-bottom: 20px;
}

/*INFO CLIENTS*/
main .cta-clients h1{
  margin-bottom: 20px;
}

/*DROPBOX COMPANIES*/
main .companies{
  display: flex;
  justify-content: space-between;
}

main .companies .box img {
  filter: invert(1);
  width:50%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

main .companies .box{
  border: 1px solid black;
  width: calc(100% / 3);
}

/*BOX*/
main .companies a{
  width: 50%;
}

/*BOX LEFT*/
main .companies .left{
  display: flex;
  flex-wrap: wrap;
}

/*BOX-CENTER*/
main .companies .box.center{
  background-color:#F5F5F5 ;
}

main .companies .box.center img{
  filter:invert(0);
  width: 30%;
  margin: 40px 0 10px 50px;
}

main .companies .box.center hr{
  margin-left:50px;
  color: rgba(211, 211, 211, 0.648);
}


/*BOX RIGHT*/
main .companies .right{
  display: flex;
  flex-wrap: wrap;
}

/*COLOR BOX*/
/*left*/
main .companies .box.left a:nth-child(1) {
  background-color:#A2D39B;
}

main .companies .box.left a:nth-child(2) {
  background-color: #61082B;
}

main .companies .box.left a:nth-child(3){
  background-color:#0093CE;
}

main .companies .box.left a:nth-child(4){
  background-color: #FF1C1C;
}

/*COLOR BOX*/
/*right*/
main .companies .box.right a:nth-child(1){
  background-color:#FF1C1C;
}

main .companies .box.right a:nth-child(2){
  background-color:#B4D0E7;
}

main .companies .box.right a:nth-child(3){
  background-color:#0D2481;
}

main .companies .box.right a:nth-child(4){
  background-color:#FFD830;
}

main .companies .section.bottom{
  background-color: rgb(252, 143, 0);
  display: flex;
}

/*CTA & FREQUENT QUESTIONS*/
main .cta.main{
  background-color: #B4D0E7;
  display: flex;
  justify-content: space-evenly;
  color:#61082B;
  margin-bottom: 100px;
  padding: 100px 0;
}

main .frequent-questions ul {
  display: block;
  margin-top: 40px;
  font-size: medium;
  font-weight: bold;
}

main .frequent-questions ul li a{
  padding: 40px 0;
  border-top: 1px solid lightgray;
}

main .frequent-questions ul li:last-child{
  border-bottom: 1px solid lightgray;
  width: 80%;
}


/*FOOTER*/
footer{
  background-color: black;
  display: flex;
  justify-content: center;
}

footer hr{
  margin-top: 100px;
}

footer div{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

footer ul li a{
  color: #ffff;
  display: flex;
  margin:10px
}

footer ul li:first-child{
  font-weight: bold;
  font-size: medium;
  padding-top:100px;
  margin-bottom:20px;
}

footer a{
  color: rgba(211, 211, 211, 0.648);
  margin: 50px 0 30px 0;
}








