/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  display: inline-block;
}

.button{
  background-color:#0061FF ;
}

.button a{
  color:#ffff;
}

/*HEADER*/
header{;

 
}

/*NAVBAR*/
nav{
  display: flex;
  width: 100%;
  position: relative;
  padding: 15px;
}
nav ul{
  display: flex;
}

nav ul li{
  margin: 5px 30px;
}

nav ul li a{
  color: black;
}

nav .nav.right{
  position: absolute;
  right: 0;
}

nav .button{
  margin:0 30px;
  padding: 5px 10px;
}

/*JUMBOTRON*/
header .jumbotron{
  background-color: #B4D0E7;
  width: 80%;
  margin: 0 auto;
  padding: 100px;
}